Repository jerrywu001/sandpack-vue3: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, eslint --fix

.lintstagedrc:

{
  "**/*.{css,less,scss,vue}": [
    "stylelint --fix"
  ],
  "src/**/*.{ts,tsx,js,jsx,vue}": [
    "eslint --fix"
  ]
}

chore: release v2.2.3
  package.json
Due: none

docs: test deploy
  .github/workflows/deploy.yaml
  package.json
Due: none

docs: update storybook
  package.json
  playground/package.json
Due: none

chore: release v3.0.0
  package.json
Due: none

feat: improved loading and restarts
  package.json
  src/common/LoadingOverlay.tsx
  src/contexts/sandpackContext.tsx
  src/hooks/useSandpackPreviewProgress.ts
  src/templates/node/solid.ts
  src/templates/node/vite-lit.ts
  src/templates/node/vite-react-ts.ts
  src/templates/node/vite-react.ts
  src/templates/node/vite-svelte-ts.ts
  src/templates/node/vite-svelte.ts
  src/templates/node/vite-vue-ts.ts
  src/templates/node/vite-vue.ts
  src/templates/node/vite.ts
  src/utils/stringUtils.ts
Due: eslint --fix

chore: release v3.0.1
  package.json
Due: none

feat: console standlone
  package.json
  playground/package.json
  playground/stories/Console.stories.tsx
  playground/stories/Sandpack.stories.tsx
  src/common/DependenciesProgress.tsx
  src/common/LoadingOverlay.tsx
  src/common/index.ts
  src/components/console/SandpackConsole.tsx
  src/contexts/sandpackContext.tsx
  src/hooks/useSandpackPreviewProgress.ts
  src/presets/Sandpack.tsx
  src/types.ts
Due: eslint --fix

chore: release v3.0.2
  package.json
Due: none

feat: add new build for styleless
  .eslintignore
  .github/workflows/ci.yaml
  .github/workflows/deploy.yaml
  .github/workflows/release.yml
  .lintstagedrc
  .stylelintrc.js
  .vscode/extensions.json
  .vscode/settings.json
  babel.config.js
  package.json
  playground/package.json
  playground/src/pages/index.vue
  playground/stories/CodeEditor.stories.tsx
  postcss.config.js
  scripts/rollup-remove-css-transformer.js
  src/styles/index.css
  src/styles/index.ts
  src/vite-env.d.ts
  tsup.config.ts
  vite.config.ts
Due: stylelint --fix, eslint --fix

chore: release v3.0.3
  package.json
Due: none

fix: import export rule
  package.json
  scripts/after-build.ts
  tsup.config.ts
  vite.config.ts
Due: none

chore: release v3.0.4
  package.json
Due: none

docs: update plugin
  scripts/after-build.ts
Due: none

chore: release v3.0.5
  package.json
Due: none

docs: test
  package.json
Due: none

chore: release v3.0.6-beta.0
  package.json
Due: none

fix: update vite templates to use latest esbuild
  package.json
  playground/tsconfig.json
  src/templates/node/astro.ts
  src/templates/node/solid.ts
  src/templates/node/vite-lit.ts
  src/templates/node/vite-react-ts.ts
  src/templates/node/vite-react.ts
  src/templates/node/vite-svelte-ts.ts
  src/templates/node/vite-svelte.ts
  src/templates/node/vite-vue-ts.ts
  src/templates/node/vite-vue.ts
  src/templates/node/vite.ts
  tsconfig.json
Due: eslint --fix

chore: release v3.0.6
  package.json
Due: none

fix: support additionalLanguages & add hidden head tags option
  package.json
  playground/stories/Console.stories.tsx
  playground/stories/CustomSandpack.stories.tsx
  playground/stories/Preview.stories.tsx
  playground/stories/Sandpack.stories.tsx
  playground/stories/Templates.stories.tsx
  playground/vite.config.ts
  src/common/DependenciesProgress.tsx
  src/common/LoadingOverlay.tsx
  src/components/code-editor/index.tsx
  src/components/code-viewer/index.tsx
  src/components/console/SandpackConsole.tsx
  src/components/console/useSandpackConsole.ts
  src/components/navigator/index.tsx
  src/components/preview/index.tsx
  src/components/tests/SandpackTests.tsx
  src/contexts/sandpackContext.tsx
  src/hooks/useSandpackClient.ts
  src/hooks/useSandpackPreviewProgress.ts
  src/hooks/useSandpackShellStdout.ts
  src/presets/Sandpack.tsx
  src/templates/index.ts
  src/templates/static.ts
  src/types.ts
Due: eslint --fix

chore: release v3.0.7
  package.json
Due: none

feat: remove hike-classer
  package.json
  playground/.storybook/preview-head.html
  playground/stories/main.stories.tsx
  src/common/ErrorOverlay.tsx
  src/common/Layout.tsx
  src/common/Loading.tsx
  src/common/LoadingOverlay.tsx
  src/common/OpenInCodeSandboxButton/OpenInCodeSandboxButton.tsx
  src/common/RoundedButton.tsx
  src/common/Stack.tsx
  src/components/code-editor/CodeMirror.tsx
  src/components/code-editor/data/useDelayCodeEditor.ts
  src/components/code-editor/index.tsx
  src/components/code-viewer/index.tsx
  src/components/console/ConsoleList.tsx
  src/components/console/Header.tsx
  src/components/console/SandpackConsole.tsx
  src/components/console/StdoutList.tsx
  src/components/file-explorer/File.tsx
  src/components/file-explorer/index.tsx
  src/components/file-tabs/index.tsx
  src/components/navigator/index.tsx
  src/components/preview/index.tsx
  src/components/tests/Describes.tsx
  src/components/tests/FormattedError.tsx
  src/components/tests/Header.tsx
  src/components/tests/SandpackTests.tsx
  src/components/tests/Specs.tsx
  src/components/tests/Summary.tsx
  src/components/tests/Tests.tsx
  src/components/transpiled-code/index.tsx
  src/contexts/classNames.tsx
  src/contexts/sandpackContext.tsx
  src/contexts/themeContext.tsx
  src/index.ts
  src/presets/Sandpack.tsx
  src/templates/runtime/react-typescript.ts
  src/templates/runtime/react.ts
  src/utils/classNames.ts
  src/utils/sandpackUtils.test.ts
Due: eslint --fix

fix: test-ts runtime error
  src/components/tests/Describes.tsx
  src/components/tests/utils.ts
Due: eslint --fix

feat: private dep
  package.json
  playground/stories/CustomSandpack.stories.tsx
  playground/stories/PrivatePackage.stories.tsx
  src/common/ErrorOverlay.tsx
  src/common/LoadingOverlay.tsx
  src/components/preview/index.tsx
  src/contexts/sandpackContext.tsx
  src/icons/index.tsx
  src/styles/shared.ts
  src/types.ts
Due: eslint --fix

chore: release v3.1.0
  package.json
Due: none

fix: autoReload and honor showRunButton false
  package.json
  src/components/code-editor/index.tsx
  src/contexts/sandpackContext.tsx
  src/hooks/useActiveCode.ts
  src/types.ts
Due: eslint --fix

chore: release v3.1.1
  package.json
Due: none

fix: activeFile ts checker
  README.md
  package.json
  src/types.ts
Due: eslint --fix

chore: release v3.1.2
  package.json
Due: none

fix: update clients on runSandpack
  .gitignore
  package.json
  playground/package.json
  src/contexts/sandpackContext.tsx
  src/templates/node/solid.ts
  src/templates/node/vite-lit.ts
  src/templates/node/vite-react-ts.ts
  src/templates/node/vite-react.ts
  src/templates/node/vite-svelte-ts.ts
  src/templates/node/vite-svelte.ts
  src/templates/node/vite-vue-ts.ts
  src/templates/node/vite-vue.ts
  src/templates/node/vite.ts
  tsup.config.ts
  vite.config.ts
Due: eslint --fix

chore: release v3.1.3
  package.json
Due: none

feat: update templates deps
  package.json
  playground/package.json
  src/components/code-editor/CodeMirror.tsx
  src/components/code-editor/index.tsx
  src/components/code-viewer/index.tsx
  src/components/file-explorer/Directory.tsx
  src/components/file-explorer/File.tsx
  src/components/file-explorer/ModuleList.tsx
  src/components/tests/Header.tsx
  src/components/tests/Specs.tsx
  src/presets/Sandpack.tsx
  src/templates/node/astro.ts
  src/templates/node/solid.ts
  src/templates/node/vite-lit.ts
  src/templates/node/vite-react-ts.ts
  src/templates/node/vite-react.ts
  src/templates/node/vite-svelte-ts.ts
  src/templates/node/vite-svelte.ts
  src/templates/node/vite-vue-ts.ts
  src/templates/node/vite-vue.ts
  src/templates/node/vite.ts
  src/templates/runtime/vue-ts.ts
  src/templates/runtime/vue.ts
  src/types.ts
Due: eslint --fix

chore: release v3.1.4
  package.json
Due: none

docs: update readme
  .github/workflows/deploy.yaml
  README.md
Due: none

fix: avoid concurrent compile step and init
  package.json
  playground/package.json
  src/components/preview/index.tsx
  src/contexts/sandpackContext.tsx
  src/hooks/useErrorMessage.ts
  src/hooks/useLoadingOverlayState.ts
  src/templates/node/solid.ts
  src/templates/node/vite-lit.ts
  src/templates/node/vite-react-ts.ts
  src/templates/node/vite-react.ts
  src/templates/node/vite-svelte-ts.ts
  src/templates/node/vite-svelte.ts
  src/templates/node/vite-vue-ts.ts
  src/templates/node/vite-vue.ts
  src/templates/node/vite.ts
  src/types.ts
Due: eslint --fix

chore: release v3.1.5
  package.json
Due: none

docs: pkg
  .github/workflows/ci.yaml
  .github/workflows/deploy.yaml
  .github/workflows/release.yml
  package.json
  playground/package.json
Due: none

docs: pkg
  .eslintrc.js
  package.json
  playground/package.json
  vite.config.ts
Due: none

feat: update deps
  package.json
  playground/package.json
Due: none
