Repository jerrywu001/sandpack-vue3: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, eslint --fix

vite build add
  .eslintignore
  .gitignore
  README.md
  app.d.ts
  package.json
  playground/package.json
  playground/tsconfig.json
  src/components/index.ts
  src/components/sand-pack/Sandpack.tsx
  src/components/sand-pack/index.ts
  src/index.ts
  src/plugin.ts
  src/types.ts
  src/utils.ts
  tsup.config.ts
  vite.config.ts
Due: eslint --fix

fix bug
  src/common/LoadingOverlay.tsx
  src/components/preview/index.tsx
  src/contexts/sandpackContext.tsx
  src/contexts/themeContext.tsx
  src/presets/Sandpack.tsx
Due: eslint --fix

some warning
  src/common/ErrorOverlay.tsx
  src/common/OpenInCodeSandboxButton/UnstyledOpenInCodeSandboxButton.tsx
  src/components/preview/index.tsx
Due: eslint --fix

loading bug
  playground/src/pages/index.vue
  src/common/LoadingOverlay.tsx
  src/common/OpenInCodeSandboxButton/UnstyledOpenInCodeSandboxButton.tsx
  src/components/preview/index.tsx
  src/contexts/sandpackContext.tsx
  src/hooks/context.ts
  src/hooks/useErrorMessage.ts
  src/hooks/useLoadingOverlayState.ts
  src/types.ts
Due: stylelint --fix, eslint --fix

error layout
  playground/src/pages/index.vue
  src/common/ErrorOverlay.tsx
  src/components/code-editor/CodeMirror.tsx
  src/components/code-editor/data/useDelayCodeEditor.ts
  src/components/code-editor/highlightDecorators.ts
  src/components/code-editor/highlightInlineError.ts
  src/components/code-editor/index.tsx
  src/components/file-tabs/index.tsx
  src/components/navigator/index.tsx
  src/components/preview/index.tsx
  src/components/transpiled-code/index.tsx
  src/contexts/sandpackContext.tsx
  src/contexts/themeContext.tsx
  src/hooks/useLoadingOverlayState.ts
  src/hooks/useTranspiledCode.ts
  src/index.ts
  src/presets/SandpackRunner.tsx
  src/utils/sandpackUtils.ts
Due: stylelint --fix, eslint --fix

simple stories
  playground/.storybook/main.js
  playground/.storybook/preview.js
  playground/stories/Button.stories.js
  playground/stories/Button.vue
  playground/stories/Filetabs.stories.tsx
  playground/stories/Header.stories.js
  playground/stories/Header.vue
  playground/stories/Introduction.stories.mdx
  playground/stories/OpenInCodeSandboxButton.stories.tsx
  playground/stories/Page.stories.js
  playground/stories/Page.vue
  playground/stories/Templates.stories.tsx
  playground/stories/Themes.stories.tsx
  playground/stories/assets/code-brackets.svg
  playground/stories/assets/colors.svg
  playground/stories/assets/comments.svg
  playground/stories/assets/direction.svg
  playground/stories/assets/flow.svg
  playground/stories/assets/plugin.svg
  playground/stories/assets/repo.svg
  playground/stories/assets/stackalt.svg
  playground/stories/button.css
  playground/stories/header.css
  playground/stories/icons.stories.tsx
  playground/stories/main.stories.tsx
  playground/stories/page.css
  playground/tsconfig.json
  src/contexts/sandpackContext.tsx
Due: stylelint --fix, eslint --fix

add stories
  playground/.storybook/main.js
  playground/stories/Common.stories.tsx
  playground/stories/Filetabs.stories.tsx
  playground/stories/Preview.stories.tsx
  playground/stories/Provider.tsx
  playground/stories/TranspiledCode.stories.tsx
  src/common/ErrorOverlay.tsx
  src/common/Layout.tsx
  src/components/code-editor/index.tsx
  src/components/code-viewer/index.tsx
  src/components/file-tabs/index.tsx
  src/components/navigator/index.tsx
  src/components/preview/RefreshButton.tsx
  src/components/preview/index.tsx
  src/components/transpiled-code/index.tsx
  src/contexts/sandpackContext.tsx
  src/hooks/useLoadingOverlayState.ts
  src/icons/index.tsx
  src/presets/Sandpack.tsx
  src/presets/SandpackRunner.tsx
Due: eslint --fix

ref trans
  src/hooks/useTranspiledCode.ts
Due: eslint --fix

update stories
  README.md
  playground/src/pages/index.vue
  playground/stories/CodeEditor.stories.tsx
  playground/stories/CodeMirror.stories.tsx
  playground/stories/CodeViewer.stories.tsx
  playground/stories/Common.stories.tsx
  playground/stories/CustomSandpack.stories.tsx
  playground/stories/Navigator.stories.tsx
  playground/stories/Preview.stories.tsx
  playground/stories/Sandpack.stories.tsx
  playground/stories/TranspiledCode.stories.tsx
  playground/stories/useActiveCode.stories.tsx
  playground/stories/useSandpackNavigation.stories.tsx
  playground/stories/widgets/Box.tsx
  playground/stories/widgets/Common.tsx
  playground/stories/widgets/CustomPreview.tsx
  playground/stories/widgets/JustIframeStory.tsx
  playground/stories/widgets/MultiplePreviewsAndListenersStory.tsx
  playground/stories/widgets/MultiplePreviewsRandomViewportsStory.tsx
  playground/stories/widgets/MultiplePreviewsStory.tsx
  playground/stories/widgets/Provider.tsx
  playground/stories/widgets/SandpackListener.tsx
  src/common/Layout.tsx
  src/components/code-editor/CodeMirror.tsx
  src/components/code-editor/data/useDelayCodeEditor.ts
  src/components/transpiled-code/index.tsx
  src/contexts/sandpackContext.tsx
  src/contexts/themeContext.tsx
  src/hooks/index.ts
  src/hooks/useActiveCode.ts
  src/hooks/useSandpackTheme.ts
  src/hooks/useTranspiledCode.ts
  src/presets/Sandpack.tsx
Due: stylelint --fix, eslint --fix

pkg script
  README.md
  app.d.ts
  package.json
  playground/index.html
  src/components/code-editor/data/useDelayCodeEditor.ts
  tsup.config.ts
  vite.config.ts
Due: eslint --fix

add stories
  playground/stories/Preview.stories.tsx
  playground/stories/Sandpack.stories.tsx
  playground/stories/widgets/Box.tsx
  playground/stories/widgets/CustomPreview.tsx
  playground/stories/widgets/JustIframeStory.tsx
  playground/stories/widgets/MultiplePreviewsAndListenersStory.tsx
  playground/stories/widgets/MultiplePreviewsRandomViewportsStory.tsx
  playground/stories/widgets/MultiplePreviewsStory.tsx
  playground/stories/widgets/SandpackClient.tsx
  src/common/Layout.tsx
  src/common/LoadingOverlay.tsx
  src/components/code-editor/data/useDelayCodeEditor.ts
  src/components/code-editor/index.tsx
  src/components/preview/index.tsx
  src/contexts/sandpackContext.tsx
  src/types.ts
Due: eslint --fix

pkg
  package.json
  playground/src/pages/index.vue
Due: stylelint --fix, eslint --fix

Merge branch 'dev' of github.com:jerrywu001/sandpack-vue3 into dev
  playground/src/main.ts
Due: eslint --fix

file explores
  package.json
  playground/stories/FileExplorer.stories.tsx
  playground/stories/widgets/SandpackListener.tsx
  src/common/OpenInCodeSandboxButton/UnstyledOpenInCodeSandboxButton.tsx
  src/components/code-editor/CodeMirror.tsx
  src/components/file-explorer/Directory.tsx
  src/components/file-explorer/File.tsx
  src/components/file-explorer/ModuleList.tsx
  src/components/file-explorer/index.tsx
  src/components/index.ts
  src/components/navigator/index.tsx
  src/contexts/sandpackContext.tsx
  src/hooks/useErrorMessage.ts
  src/hooks/useLoadingOverlayState.ts
Due: eslint --fix

actions button
  playground/stories/Preview.stories.tsx
  src/components/preview/index.tsx
Due: eslint --fix

add readme
  README.md
Due: none

release v0.1.1
  package.json
Due: none

pkg name
  README.md
  playground/.storybook/main.js
  playground/src/pages/index.vue
  playground/stories/CodeEditor.stories.tsx
  playground/stories/CodeMirror.stories.tsx
  playground/stories/CodeViewer.stories.tsx
  playground/stories/Common.stories.tsx
  playground/stories/CustomSandpack.stories.tsx
  playground/stories/FileExplorer.stories.tsx
  playground/stories/Filetabs.stories.tsx
  playground/stories/Navigator.stories.tsx
  playground/stories/OpenInCodeSandboxButton.stories.tsx
  playground/stories/Preview.stories.tsx
  playground/stories/Sandpack.stories.tsx
  playground/stories/Templates.stories.tsx
  playground/stories/Themes.stories.tsx
  playground/stories/TranspiledCode.stories.tsx
  playground/stories/icons.stories.tsx
  playground/stories/main.stories.tsx
  playground/stories/useActiveCode.stories.tsx
  playground/stories/useSandpackNavigation.stories.tsx
  playground/stories/widgets/Common.tsx
  playground/stories/widgets/CustomPreview.tsx
  playground/stories/widgets/JustIframeStory.tsx
  playground/stories/widgets/MultiplePreviewsAndListenersStory.tsx
  playground/stories/widgets/MultiplePreviewsRandomViewportsStory.tsx
  playground/stories/widgets/MultiplePreviewsStory.tsx
  playground/stories/widgets/Provider.tsx
  playground/stories/widgets/SandpackClient.tsx
  playground/stories/widgets/SandpackListener.tsx
  playground/tsconfig.json
  playground/vite.config.ts
  src/index.ts
  tsconfig.json
  tsup.config.ts
  vite.config.ts
Due: stylelint --fix, eslint --fix

update readme
  README.md
  package.json
  tsup.config.ts
Due: eslint --fix

readme
  README.md
Due: none

release v0.1.2
  package.json
Due: none

timeout bug
  README.md
  global.d.ts
  package.json
  playground/src/main.ts
  playground/src/pages/index.vue
  playground/stories/useActiveCode.stories.tsx
  playground/tsconfig.json
  src/common/LoadingOverlay.tsx
  src/components/code-editor/CodeMirror.tsx
  src/components/code-editor/index.tsx
  src/components/code-editor/utils.ts
  src/components/navigator/index.tsx
  src/components/transpiled-code/index.tsx
  src/contexts/sandpackContext.tsx
  src/hooks/useLoadingOverlayState.ts
  src/plugin.ts
  src/presets/Sandpack.tsx
  src/presets/SandpackRunner.tsx
Due: stylelint --fix, eslint --fix

release v0.1.3
  package.json
Due: none

pkg versions
  package.json
Due: none

pkg versions
  package.json
  playground/src/composables/dark.ts
  playground/src/composables/index.ts
  playground/vite.config.ts
  src/common/OpenInCodeSandboxButton/UnstyledOpenInCodeSandboxButton.tsx
  src/components/code-editor/CodeMirror.tsx
  src/components/code-editor/data/useDelayCodeEditor.ts
  src/hooks/useIntersectionObserver.ts
Due: eslint --fix

release v0.1.4
  package.json
Due: none

versions
  package.json
Due: none

some change
  .eslintignore
  playground/stories/CodeEditor.stories.tsx
  playground/stories/main.stories.tsx
  src/components/code-editor/data/useDelayCodeEditor.ts
  src/contexts/sandpackContext.tsx
Due: eslint --fix

release v1.0.0
  package.json
Due: none

ts type check
  playground/index.html
  playground/src/components/Child.vue
  playground/src/pages/index.vue
  playground/stories/main.stories.tsx
  src/contexts/sandpackContext.tsx
  src/presets/Sandpack.tsx
  src/types.ts
Due: stylelint --fix, eslint --fix

release v1.0.1
  package.json
Due: none

pkg
  package.json
Due: none

Path conditions:
  stylelint --fix: any of: **/*.{css,less,scss,vue}
  eslint --fix: any of: *.{ts,tsx,js,jsx,vue}
