Repository jerrywu001/sandpack-vue3: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, eslint --fix

pkg versions
  package.json
Due: none

pass prop to loading component
  src/common/Loading.tsx
  src/common/LoadingOverlay.tsx
  src/components/preview/index.tsx
  src/components/transpiled-code/index.tsx
Due: eslint --fix

readme
  README.md
Due: none

pkg versions
  README.md
  package.json
  src/components/preview/index.tsx
  src/presets/Sandpack.tsx
Due: eslint --fix

bug
  package.json
  src/contexts/themeContext.tsx
Due: eslint --fix

auto hidden files in explorer tree
  package.json
  playground/stories/FileExplorer.stories.tsx
  src/components/file-explorer/Directory.tsx
  src/components/file-explorer/ModuleList.tsx
  src/components/file-explorer/index.tsx
  src/components/file-explorer/util.ts
Due: eslint --fix

auto hidden files in explorer tree
  src/components/file-explorer/Directory.tsx
  src/components/file-explorer/File.tsx
  src/components/file-explorer/ModuleList.tsx
  src/components/file-explorer/index.tsx
  src/components/file-explorer/util.ts
Due: eslint --fix

file explorer bug
  package.json
  playground/stories/FileExplorer.stories.tsx
  src/components/file-explorer/Directory.tsx
  src/components/file-explorer/ModuleList.tsx
  src/components/file-explorer/index.tsx
  src/components/file-explorer/util.ts
  src/contexts/sandpackContext.tsx
  src/types.ts
Due: eslint --fix

release v1.0.2
  package.json
Due: none

fix bug
  package.json
  playground/.storybook/main.css
  playground/.storybook/preview.js
  playground/stories/main.stories.tsx
  src/components/code-editor/CodeMirror.tsx
  src/components/code-editor/data/useDelayCodeEditor.ts
  src/components/code-editor/highlightInlineError.ts
  src/contexts/sandpackContext.tsx
Due: stylelint --fix, eslint --fix

release v1.0.3
  package.json
Due: none

package
  package.json
Due: none

package.json
  package.json
  src/contexts/sandpackContext.tsx
  src/utils/sandpackUtils.ts
Due: eslint --fix

add ssr for nuxt3
  README.md
  src/contexts/sandpackContext.tsx
Due: eslint --fix

release v1.0.4
  package.json
Due: none

fix error
  src/contexts/sandpackContext.tsx
Due: eslint --fix

readme
  README.md
  package.json
Due: none

release v1.0.5
  package.json
Due: none

fix nuxt3 bug
  README.md
  src/common/Layout.tsx
  src/common/LoadingOverlay.tsx
  src/common/OpenInCodeSandboxButton/UnstyledOpenInCodeSandboxButton.tsx
  src/common/RunButton.tsx
  src/components/code-editor/index.tsx
  src/components/file-tabs/index.tsx
  src/contexts/sandpackContext.tsx
Due: eslint --fix

chore: release v1.0.6
  package.json
Due: none

add tests
  package.json
  src/components/file-explorer/util.test.ts
  src/contexts/sandpackContext.tsx
  src/styles/__snapshots__/styles.test.ts.snap
  src/styles/styles.test.ts
  src/types.ts
  src/utils/array.test.ts
  src/utils/sandpackUtils.test.ts
  src/utils/stringUtils.test.ts
  test/__snapshots__/dom.test.tsx.snap
  test/basic.test.ts
  test/dom.test.tsx
  test/mockfn.spec.ts
Due: eslint --fix

chore: release v1.0.7
  package.json
Due: none

#516
  package.json
  src/contexts/sandpackContext.tsx
Due: eslint --fix

chore: release v1.0.8
  package.json
Due: none

package
  package.json
  playground/package.json
  playground/src/pages/index.vue
  playground/stories/Common.stories.tsx
  playground/vite.config.ts
  src/components/code-editor/data/useDelayCodeEditor.ts
  src/components/code-editor/index.tsx
  vite.config.ts
Due: stylelint --fix, eslint --fix

chore: release v1.0.9
  package.json
Due: none

storybook
  package.json
  playground/package.json
Due: none

pkg
  package.json
  playground/package.json
  tsconfig.json
Due: none

pkg update
  package.json
Due: none

docs: eslint
  .eslintrc.js
  .husky/pre-commit
  .lintstagedrc
  package-lock.json
  package.json
  playground/package.json
  playground/src/main.ts
  playground/tsconfig.json
  src/index.ts
  tsconfig.json
Due: eslint --fix

feat: actions
  .github/workflows/deploy.yaml
  .gitignore
  package.json
  playground/.storybook/main.css
  playground/.storybook/main.js
  playground/.storybook/preview-head.html
  playground/.storybook/preview.js
  playground/package.json
  playground/src/main.ts
  playground/stories/CodeEditor.stories.tsx
  playground/stories/CodeMirror.stories.tsx
  playground/stories/CodeViewer.stories.tsx
  playground/stories/Common.stories.tsx
  playground/stories/CustomSandpack.stories.tsx
  playground/stories/ExternalThemes.stories.tsx
  playground/stories/FileExplorer.stories.tsx
  playground/stories/Filetabs.stories.tsx
  playground/stories/Navigator.stories.tsx
  playground/stories/OpenInCodeSandboxButton.stories.tsx
  playground/stories/Preview.stories.tsx
  playground/stories/Sandpack.stories.tsx
  playground/stories/Templates.stories.tsx
  playground/stories/Themes.stories.tsx
  playground/stories/TranspiledCode.stories.tsx
  playground/stories/icons.stories.tsx
  playground/stories/main.stories.tsx
  playground/stories/useActiveCode.stories.tsx
  playground/stories/useSandpackNavigation.stories.tsx
  playground/stories/widgets/Box.tsx
  playground/stories/widgets/Common.tsx
  playground/stories/widgets/CustomPreview.tsx
  playground/stories/widgets/JustIframeStory.tsx
  playground/stories/widgets/MultiplePreviewsAndListenersStory.tsx
  playground/stories/widgets/MultiplePreviewsRandomViewportsStory.tsx
  playground/stories/widgets/MultiplePreviewsStory.tsx
  playground/stories/widgets/Provider.tsx
  playground/stories/widgets/SandpackClient.tsx
  playground/stories/widgets/SandpackListener.tsx
  src/styles/index.css
  tsconfig.json
Due: stylelint --fix, eslint --fix

feat: github acction
  .github/workflows/ci.yaml
  .github/workflows/deploy.yaml
  .github/workflows/release.yml
Due: none

fix: github action deploy error
  package.json
  playground/package.json
Due: none

chore: release v1.0.10
  package-lock.json
  package.json
Due: none

feat: change deploy to vercel
  .github/workflows/deploy.yaml
  .gitignore
Due: none

Path conditions:
  stylelint --fix: any of: **/*.{css,less,scss,vue}
  eslint --fix: any of: *.{ts,tsx,js,jsx,vue}
