Repository jerrywu001/sandpack-vue3: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, eslint --fix

.lintstagedrc:

{
  "**/*.{css,less,scss,vue}": [
    "stylelint --fix"
  ],
  "src/**/*.{ts,tsx,js,jsx,vue}": [
    "eslint --fix"
  ]
}

chore: release v1.0.0
  package.json
Due: none

chore: release v2.0.0
  package.json
Due: none

docs: pkg name to sandpack-vue3
  package.json
Due: none

feat: support vue3 template setup & vue-ts template
  package.json
  playground/package.json
  src/templates/index.ts
  src/templates/vue-ts.ts
  src/templates/vue3-ts.ts
  src/templates/vue3.ts
Due: eslint --fix

chore: release v2.0.1
  package.json
Due: none

fix: addFile with no code argument & rimraf issue
  package.json
  playground/package.json
  playground/vite.config.ts
  src/contexts/sandpackContext.tsx
  vite.config.ts
Due: eslint --fix

chore: release v2.0.2
  package.json
Due: none

fix: make entry field optional
  package.json
  playground/package.json
  playground/stories/Templates.stories.tsx
  playground/vite.config.ts
  src/types.ts
  src/utils/sandpackUtils.ts
Due: eslint --fix

docs: update readme
  README.md
  global.d.ts
  playground/src/pages/index.vue
Due: stylelint --fix

chore: release v2.0.3
  package.json
Due: none

docs: reamde
  README.md
Due: none

fix: activeFile issue
  README.md
  package.json
  playground/stories/ActiveFile.stories.tsx
  src/utils/sandpackUtils.ts
Due: eslint --fix

chore: release v2.0.4
  package.json
Due: none

fix: acctiveFile code
  src/utils/sandpackUtils.test.ts
  src/utils/sandpackUtils.ts
Due: eslint --fix

feat: auto predefined template keys
  .vscode/settings.json
  package.json
  playground/package.json
  playground/src/App.vue
  playground/src/main.ts
  playground/src/pages/index.vue
  playground/unocss.config.ts
  playground/vite.config.ts
  src/types.ts
Due: stylelint --fix, eslint --fix

chore: release v2.0.5
  package.json
Due: none

fix: highlight
  package.json
  src/components/code-editor/CodeMirror.tsx
Due: eslint --fix

chore: release v2.0.6
  package.json
Due: none

fix: highlight
  package.json
Due: none

feat: update codemirror version
  package.json
  playground/package.json
  playground/stories/CodeMirror.stories.tsx
  playground/stories/Sandpack.stories.tsx
  src/components/code-editor/data/useDelayCodeEditor.ts
  src/components/code-editor/useSyntaxHighlight.tsx
  src/components/code-editor/utils.ts
  src/types.ts
Due: eslint --fix

chore: release v2.1.0
  package.json
Due: none

feat: add resize panel
  package.json
  playground/package.json
  playground/src/pages/index.vue
  playground/stories/CodeEditor.stories.tsx
  playground/stories/Preview.stories.tsx
  playground/stories/main.stories.tsx
  playground/stories/widgets/MultiplePreviewsAndListenersStory.tsx
  playground/stories/widgets/MultiplePreviewsStory.tsx
  src/common/Layout.tsx
  src/common/Stack.tsx
  src/contexts/sandpackContext.tsx
  src/presets/Sandpack.tsx
  src/types.ts
Due: stylelint --fix, eslint --fix

chore: release v2.2.0
  package.json
Due: none

fix: ssr document not define
  src/presets/Sandpack.tsx
Due: eslint --fix

chore: release v2.2.1
  package.json
Due: none

feat: add resflush button to error overlay
  package.json
  src/common/ErrorOverlay.tsx
  src/common/Layout.tsx
  src/components/preview/index.tsx
  src/components/transpiled-code/index.tsx
Due: eslint --fix

chore: release v2.2.2
  package.json
Due: none

fix: rimraf command issue
  package.json
Due: none
