Repository jerrywu001/sandpack-vue3: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, eslint --fix

.lintstagedrc:

{
  "**/*.{css,less,scss,vue}": [
    "stylelint --fix"
  ],
  "src/**/*.{ts,tsx,js,jsx,vue}": [
    "eslint --fix"
  ]
}

chore: release v3.1.6
  package.json
Due: none

feat: add console hook to static template
  package.json
  playground/package.json
  playground/stories/Console.stories.tsx
  src/common/LoadingOverlay.tsx
  src/components/code-editor/data/useDelayCodeEditor.ts
  src/components/console/utils/constraints.ts
  src/components/console/utils/fromConsoleToString.ts
  src/components/file-explorer/util.test.ts
  src/contexts/sandpackContext.tsx
  src/hooks/useLoadingOverlayState.ts
  src/hooks/useSandpackPreviewProgress.ts
  src/styles/styles.test.ts
  src/utils/array.test.ts
  src/utils/sandpackUtils.test.ts
  src/utils/stringUtils.test.ts
Due: eslint --fix

chore: release v3.1.7
  package.json
Due: none

feat: support preact template
  package.json
  playground/package.json
  src/templates/index.ts
  src/templates/node/vite-preact-ts.ts
  src/templates/node/vite-preact.ts
  src/types.ts
Due: eslint --fix

chore: release v3.1.8
  package.json
Due: none

feat: add sandbox-id prop to compile
  .gitignore
  package.json
  src/contexts/sandpackContext.tsx
  src/types.ts
Due: eslint --fix

chore: release v3.1.9
  package.json
Due: none

docs: readme
  package.json
Due: none

docs: pkg
  package.json
  playground/src/pages/index.vue
  src/common/LoadingOverlay.tsx
  src/contexts/sandpackContext.tsx
Due: stylelint --fix, eslint --fix

docs: pkg
  package.json
Due: none

docs: pkg
  .eslintrc.cjs
  .vscode/settings.json
  babel.config.cjs
  commitlint.config.cjs
  package.json
  playground/package.json
  playground/src/pages/index.vue
  playground/vite-env.d.ts
  playground/vite.config.ts
  scripts/rollup-remove-css-transformer.js
  src/styles/__snapshots__/styles.test.ts.snap
  src/vite-env.d.ts
  tsconfig.json
  vite.config.ts
Due: stylelint --fix, eslint --fix

feat: added show reset button prop
  src/components/console/SandpackConsole.tsx
Due: eslint --fix

chore: release v3.1.10
  package.json
Due: none

fix: remove the rimraf & postinstall
  .github/workflows/ci.yaml
  .github/workflows/deploy.yaml
  .github/workflows/release.yml
  package.json
Due: none

chore: release v3.1.11
  package.json
Due: none

Update README.md
  README.md
Due: none

docs: pkg versions
  package.json
  playground/package.json
Due: none

fix: fix the file-tabs styles
  src/components/file-tabs/index.tsx
Due: eslint --fix

docs: update deps
  package.json
  playground/.storybook/main.cjs
  playground/.storybook/preview.cjs
  playground/package.json
  playground/stories/CodeEditor.stories.tsx
  playground/stories/CodeMirror.stories.tsx
  playground/stories/main.stories.tsx
  src/components/code-editor/index.tsx
  src/components/code-viewer/index.tsx
  src/components/transpiled-code/index.tsx
  src/presets/Sandpack.tsx
Due: eslint --fix

chore: release v3.1.12
  package.json
Due: none

fix: make sure to unregister all clients when user-visible option is out of viewport
  playground/stories/Sandpack.stories.tsx
  src/components/code-editor/data/useDelayCodeEditor.ts
  src/contexts/sandpackContext.tsx
Due: eslint --fix
