Repository jerrywu001/sandpack-vue3: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, eslint --fix

feat: change deploy to vercel
  .github/workflows/deploy.yaml
Due: none

feat: support markdown & plain text
  README.md
  package-lock.json
  package.json
  playground/package.json
  playground/stories/CodeMirror.stories.tsx
  src/components/code-editor/index.tsx
  src/components/code-editor/languages-mocks.ts
  src/components/code-editor/utils.ts
Due: eslint --fix

chore: release v1.1.0
  package-lock.json
  package.json
Due: none

docs: update readme
  .github/workflows/ci.yaml
  .github/workflows/deploy.yaml
  .github/workflows/release.yml
  .gitignore
  README.md
  package-lock.json
  package.json
  playground/package.json
Due: none

chore: release v1.1.1
  package-lock.json
  package.json
Due: none

Delete package-lock.json
  package-lock.json
Due: none

fix: tweak error surface contrast
  package.json
  playground/package.json
  playground/stories/ExternalThemes.stories.tsx
  src/components/code-editor/utils.ts
  src/styles/__snapshots__/styles.test.ts.snap
  src/themes/index.ts
Due: eslint --fix

chore: release v1.1.2
  package.json
Due: none

feat: add theme dracula & introduce custom npm registries
  package.json
  playground/package.json
  playground/stories/CustomSandpack.stories.tsx
  playground/stories/ExternalThemes.stories.tsx
  playground/stories/Themes.stories.tsx
  playground/stories/main.stories.tsx
  src/contexts/sandpackContext.tsx
  src/types.ts
Due: eslint --fix

chore: release v1.1.3
  package.json
Due: none

fix: do not set default credentials for custom npm requests
  package.json
  playground/package.json
  playground/stories/CustomSandpack.stories.tsx
  playground/stories/widgets/Box.tsx
  playground/stories/widgets/Common.tsx
  playground/stories/widgets/MultiplePreviewsRandomViewportsStory.tsx
  src/types.ts
Due: eslint --fix

chore: release v1.1.4
  package.json
Due: none

fix: console bug
  .github/workflows/deploy.yaml
  playground/src/pages/index.vue
  playground/stories/Tests.stories.tsx
  playground/stories/main.stories.tsx
  src/common/ErrorOverlay.tsx
  src/common/Layout.tsx
  src/common/Loading.tsx
  src/common/LoadingOverlay.tsx
  src/common/RunButton.tsx
  src/common/Stack.tsx
  src/components/code-editor/index.tsx
  src/components/code-viewer/index.tsx
  src/components/console/SandpackConsole.tsx
  src/components/console/useSandpackConsole.ts
  src/components/file-explorer/index.tsx
  src/components/file-tabs/index.tsx
  src/components/navigator/index.tsx
  src/components/preview/index.tsx
  src/components/tests/SandpackTests.tsx
  src/components/tests/Specs.tsx
  src/components/transpiled-code/index.tsx
  src/contexts/sandpackContext.tsx
  src/contexts/themeContext.tsx
  src/presets/Sandpack.tsx
  src/presets/SandpackRender.tsx
  src/templates/react-typescript.ts
  src/templates/react.ts
Due: stylelint --fix, eslint --fix

fix: test components bug
  README.md
  global.d.ts
  package.json
  playground/src/pages/index.vue
  playground/stories/Console.stories.tsx
  playground/stories/Tests.stories.tsx
  playground/stories/main.stories.tsx
  src/components/console/SandpackConsole.tsx
  src/components/console/useSandpackConsole.ts
  src/components/console/utils/fromConsoleToString.test.ts
  src/components/preview/index.tsx
  src/components/tests/SandpackTests.tsx
  src/contexts/sandpackContext.tsx
  src/hooks/useSandpackClient.ts
  src/presets/Sandpack.tsx
  src/presets/SandpackRender.tsx
Due: stylelint --fix, eslint --fix

chore: release v1.2.0
  package.json
Due: none

fix: nextTick bug
  src/components/console/SandpackConsole.tsx
Due: eslint --fix

chore: release v1.2.1
  package.json
Due: none

feat: support additional, user-supplied language modes
  package.json
  playground/package.json
  playground/src/pages/index.vue
  playground/stories/CodeMirror.stories.tsx
  playground/stories/Sandpack.stories.tsx
  playground/stories/Tests.stories.tsx
  src/common/OpenInCodeSandboxButton/UnstyledOpenInCodeSandboxButton.tsx
  src/common/Stack.tsx
  src/components/code-editor/data/useDelayCodeEditor.ts
  src/components/code-editor/index.tsx
  src/components/code-editor/languages-mocks.ts
  src/components/code-editor/props/CodeMirrorProperties.ts
  src/components/code-editor/utils.ts
  src/components/console/SandpackConsole.tsx
  src/presets/Sandpack.tsx
  src/types.ts
Due: stylelint --fix, eslint --fix

chore: release v1.2.2
  package.json
Due: none

fix: icon style
  src/common/Layout.tsx
  src/components/tests/Describes.tsx
  src/components/tests/Header.tsx
  src/styles/shared.ts
Due: eslint --fix

chore: release v1.2.3
  package.json
Due: none

fix: console toggle bug
  playground/src/pages/index.vue
  playground/stories/widgets/Common.tsx
  src/components/file-tabs/index.tsx
  src/components/tests/Header.tsx
  src/presets/Sandpack.tsx
  src/presets/SandpackRender.tsx
  src/styles/shared.ts
Due: stylelint --fix, eslint --fix

chore: release v1.2.4
  package.json
Due: none

feat: add rtl layout for Sanpack component
  package.json
  playground/package.json
  playground/src/pages/index.vue
  playground/stories/Sandpack.stories.tsx
  src/presets/Sandpack.tsx
  src/types.ts
Due: stylelint --fix, eslint --fix

chore: release v1.2.5
  package.json
Due: none

fix: trim and avoid shrinks the icon on long file names
  package.json
  playground/package.json
  playground/stories/FileExplorer.stories.tsx
  src/components/file-explorer/File.tsx
  src/styles/shared.ts
Due: eslint --fix

chore: release v1.2.6
  package.json
Due: none

fix: standardized UTM parameter & avoid Escape keybinding conflict
  package.json
  src/common/OpenInCodeSandboxButton/UnstyledOpenInCodeSandboxButton.tsx
  src/components/code-editor/data/useDelayCodeEditor.ts
  src/components/code-editor/styles.ts
  src/components/file-tabs/index.tsx
Due: eslint --fix

Update package.json
  package.json
Due: none

chore: release v1.2.7
  package.json
Due: none

fix: remove markdown(not need)
  package.json
  playground/stories/CodeMirror.stories.tsx
  src/components/code-editor/languages-mocks.ts
  src/components/code-editor/utils.ts
Due: eslint --fix

chore: release v1.2.8
  package.json
Due: none

feat: add themes & style prop no longer passed to Fragment
  package.json
  playground/package.json
  playground/stories/Common.stories.tsx
  playground/stories/main.stories.tsx
  src/common/Loading.tsx
  src/components/code-editor/useSyntaxHighlight.tsx
  src/contexts/sandpackContext.tsx
  src/presets/Sandpack.tsx
  src/styles/index.ts
  src/styles/stitches-mock.ts
  src/templates/angular.ts
  src/templates/react-typescript.ts
  src/templates/react.ts
  src/templates/solid.ts
  src/templates/svelte.ts
  src/templates/tests-ts.ts
  src/templates/vanilla-typescript.ts
  src/templates/vanilla.ts
  src/templates/vue.ts
  src/templates/vue3.ts
  src/utils/sandpackUtils.test.ts
  src/utils/sandpackUtils.ts
Due: eslint --fix

chore: release v1.2.9
  package.json
Due: none

docs: readme
  package.json
Due: none

docs: pkg versions
  package.json
Due: none

feat: a11y issues
  .vscode/launch.json
  package.json
  playground/package.json
  src/components/code-editor/CodeMirror.tsx
  src/components/code-editor/data/useDelayCodeEditor.ts
  src/components/code-editor/useGeneratedId.ts
Due: eslint --fix

chore: release v1.2.10
  package.json
Due: none

Path conditions:
  stylelint --fix: any of: **/*.{css,less,scss,vue}
  eslint --fix: any of: src/**/*.{ts,tsx,js,jsx,vue}
